# Backend Configuration
BACKEND_API=https://your-backend-domain.com
API_URL=https://your-backend-domain.com/api/v1
AUTH_URL=https://your-backend-domain.com/api/auth

# Frontend Configuration
NEXT_PUBLIC_FRONTEND_API=https://your-frontend-domain.com
NEXT_PUBLIC_BACKEND_API=https://your-backend-domain.com
NEXT_PUBLIC_AUTH_URL=https://your-backend-domain.com/api/auth